%html
  %head
    %title
      SauceLabs.tv
  %body
    %div{:style => 'float: right; clear: all; font-weight: bold'}
      Welcome #{username}

    - unless jobs.empty?
      %a{:href => "/watch/#{jobs[-1]['id']}"}
        Auto-Play

    %ol#jobs
      - jobs.compact.each do |job|
        %li.job{:id => "job_#{job['id']}"}
          %a{:href => "/watch/#{job['id']}"}
            = job['name']

