%html
  %head
    %title
      SauceLabs.tv
  %body
    Welcome #{username}


    - unless jobs.empty?
      %a{:href => "/watch/#{jobs[-1]['id']}"}
        Auto-Play

    %ul#jobs
      - jobs.compact.each do |job|
        %li.job{:id => "job_#{job['id']}"}
          %a{:href => "https://saucelabs.com/jobs/#{job['id']}"}
            = job['name']
          &middot;

